



body {
  background-color: black;
  color: rgb(218, 219, 219);
  margin: 20px;
  padding: 10px;
 

}



header{
  border: 2px solid black;
  text-align: center;
}



main {
  display: flex;

}



.results-section {
  border: 2px solid rgb(73, 134, 255);
  width: 250px;
  height: auto;
  text-align: center;
}



#image-containers {
  text-align: center;
  font-size: 40px;
  padding: 20px;

}

#image-containers img {
  border: 5px solid rgb(240, 240, 240);
  width: 300px;
  height: 300px;
}

article button {
  border: none;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(67, 21, 194);
}

.complete {
  background-color: green;
  color: white;
  font-weight: bold;
}




footer {
  border: 2px solid black;
  padding: 10px;
}